.desktop-contact {
  align-items: center;
  background-color: var(--wild-sand);
  display: flex;
  flex-direction: column;
  height: 1200px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

