.rna-title {
  font-family: "Chivo";
  font-size: 96px;
  text-align: center;
  color: #6b7eb3;
}

.rna-subtitle {
  font-family: "Chivo";
  font-size: 28px;
  text-align: center;
}

.home-left {
  width: 66.67%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* formatting for table */
.recent-exp {
  background-color: #fff;
  width: 20%;
  float: right;
  min-height: 400px;
}

.home-group {
  width: 50%;
}

/* Positioning of RNA SVG */
.rna-svg {
  float: right;
}

/* Font for experiments */
.exp-font {
  font-family: "Chivo";
  font-size: 24px;
}

/* Positioning for scaffold button */
.scaffold-button {
  margin-top: 50%;
}

/* helix icon for running experiments */
.helix-icon {
  height: 80px;
  pointer-events: none;
}

/* Spin of helix */
@media (prefers-reduced-motion: no-preference) {
  .helix-icon {
    animation: helix-icon-spin infinite 2s linear;
  }
}

@keyframes helix-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
