.rna-title {
    font-family: 'Chivo';
    font-size: 96px;
    text-align: center;
    color: #6B7EB3;
}

.rna-subtitle {
    font-family: 'Chivo';
    font-size: 28px;
    text-align: center;
}

.home-left {
    width: 66.67%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-exp {
    background-color: #E4E9F1;
    width: 33.33%;
    float: right;
    min-height: 400px;
}

.home-group {
    width: 50%;
}

.rna-svg {
    float: right;
    width: 15%;
}

.exp-font {
    font-family: 'Chivo';
    font-size: 24px;
}

.scaffold-button {
    margin-top: 50%;
}